
@page 
{ 
    margin-top: 0.0cm; 
	margin-left: 0.5cm; 
    margin-right: 0.5cm; 
    margin-bottom: 0.5cm; 
}

body
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 11pt;
    padding-left: 1.0cm;
    padding-right: 1.0cm;
}

p
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 11pt;
}

.logo_haut
{
    text-align: center;
}

.interlocuteur
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 7pt;
    vertical-align: top;
    letter-spacing: 0.5px;
    line-height: 12pt;
}

.reference
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 7pt;
}

.objet
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    vertical-align: top;
    padding-right: 0.5cm;
    letter-spacing: 0.5px;
}

.date
{
    font-family: Verdana, Arial, sans-serif;
    text-align: right;
    font-size: 11pt;
    font-weight: normal;
    padding-left: 0.5cm;
    padding-right: 1.0cm;
}

.corps
{
    font-family: Verdana, Arial, sans-serif;
	padding-left: 1.0cm;
    padding-right: 1.0cm;
    text-align: justify;
    text-indent : 1cm;
    letter-spacing: 0.4px;
}

.signature
{
    font-family: Verdana, Arial, sans-serif;
	padding-right: 1.0cm;
	
}

.bas_page
{
    position:fixed;
    bottom: 0cm;
    left: 6cm;
    margin:auto;
    width: 8cm;
    height: 2cm;
    /*border: 2px solid black;*/
}

